nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: $nav-height;
  padding: 0 16pt;
  font-size: $h6;
  color: $text-color;
  background-color: $bg;
  box-shadow: 0 0 4px rgba($text-color, 0.15);
  z-index: 100;
  img {
    height: 24pt;
  }
}

.navBtn {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16pt;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s ease;
  @each $href, $name in $routes {
    &[href=#{$href}] {
      color: color(accent, #{$name}-primary);
      &:hover {
        color: $bg;
        background-color: color(accent, #{$name}-primary);
      }
      &.active {
        box-shadow: 0 2px 0 0 color(accent, #{$name}-primary);
      }
    }
  }
}

.navLogo {
  display: flex;
  align-items: center;
  margin-right: auto;
  color: $brand-color;
  .logo {
    height: 20pt;
    fill: $brand-color;
    stroke: $text-color;
    stroke-width: 2px;
  }
  span {
    font-size: 2em;
    margin-left: 4pt;
    font-weight: bold;
  }
}

.mobileNav {
  position: sticky;
  bottom: -1px;
  left: 0;
  display: none;
  width: 100%;
  height: $nav-height;
  background: $bg;
  box-shadow: 0 0 8px rgba($text-color, 0.1);
  z-index: 10;
}

.navBtnMobile {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8pt;
  font-size: $h4;
  border-left: 1px solid color(grey, lighter);
  @each $href, $name in $routes {
    &[href=#{$href}] {
      color: color(accent, #{$name}-primary);
      &.active {
        color: $bg;
        background: color(accent, #{$name}-primary);
      }
    }
  }
  .icon {
    height: 90%;
  }
}
