section {
  position: relative;
  padding: 64pt 24pt;
  background: $bg;
  border-top: 1px solid color(grey, lighter);
  z-index: 2;
  &:first-of-type {
    border-top: none;
  }
  & > p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
