@charset "UTF-8";
/* media queries*/

@media screen and (min-width: 730px) {
  .navOverlay {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .footerIcon {
    display: none;
  }
}

@media screen and (max-width: 885px) {
  .mainFooter {
    justify-content: center;
    padding: 16pt;
    .footerCols {
      grid-area: center;
    }
    .emailSignup {
      display: none;
    }
  }
}

@media screen and (max-width: 790px) {
  nav {
    .navBtn {
      padding: 0 8pt;
      font-size: $h5;
    }
  }
  .copyright {
    flex-flow: column nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  nav {
    &.mainNav {
      display: none;
    }
    &.mobileNav {
      display: flex;
    }
  }
  .alert {
    top: 0;
  }
  .mainHeader {
    h1 {
      font-size: $h2;
    }
    h3 {
      font-size: $h4;
    }
    a {
      font-size: $h5;
    }
  }
  section {
    padding: 24pt 16pt;
  }
}

@media screen and (max-width: 500px) {
  .alert {
    font-size: $h6;
  }
  .resourcesWrapper {
    .servicesLink {
      width: 100%;
      text-align: center;
    }
  }
  .featureBox {
    width: calc(100vw - 16pt);
  }
  .footerCols {
    flex-flow: column nowrap;
    align-items: center;
    .col {
      text-align: center;
      margin-bottom: 4pt;
      padding-bottom: 4pt;
      @include all-but(3) {
        border-bottom: 1px solid $bg;
      }
    }
  }
}
