@charset "UTF-8";
/* media queries*/

@media screen and (min-width: 730px) {
  .navOverlay {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .footerIcon {
    display: none;
  }
}

@media screen and (max-width: 885px) {
  .mainFooter {
    flex-direction: column;
    padding: 16pt;
    .emailSignup {
      margin-bottom: 16pt;
    }
  }
  .copyright {
    text-align: center;
    span {
      display: block;
      float: none;
    }
  }
}

@media screen and (max-width: 790px) {
  nav {
    .navBtn {
      padding: 0 8pt;
      font-size: $h5;
    }
  }
  .mainHeader {
    .logo {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .alert {
    top: 0;
  }
  .mobileNav {
    display: flex;
  }
  .mainHeader {
    height: calc(100vh - #{$nav-height});
    h1 {
      font-size: $h2;
    }
    h3 {
      font-size: $h4;
    }
    a {
      font-size: $h5;
    }
  }
  section {
    padding: 24pt 16pt;
  }
}

@media screen and (max-width: 500px) {
  nav {
    .navLogoContainer {
      display: none;
    }
  }
  .alert {
    font-size: $h6;
  }
  .mainHeader {
    .moreInfo {
      bottom: 16pt;
    }
  }
  .resourcesWrapper {
    .servicesLinks {
      a,
      .viewAll {
        width: 100%;
        text-align: center;
      }
    }
  }
  .features {
    .featureBox {
      width: calc(100vw - 16pt);
    }
  }
  .mainFooter {
    .footerCols {
      flex-flow: column nowrap;
      text-align: center;
      .col {
        width: auto;
        margin: 0 auto 4pt;
        padding-bottom: 4pt;
        border-bottom: 1px solid $bg;
      }
    }
  }
}
