/// Description section directly below main header
.description {
  text-align: center;
  p {
    width: 656pt;
    max-width: 80vw;
    margin: 1em auto;
    text-align: left;
    text-indent: 1em;
    color: color(grey, darker);
    font-size: 18px;
  }
}
